# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments & Virtual Environments
.env
.env.save
.venv/
env/
venv/
ENV/

# Testing & Coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.mypy_cache/

# IDEs, Editors & OS Files
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

# Project-specific database, caching, and temp files
preprocessed_db/
temp/
.gradio/
model_cache/
*.db
*.sqlite3
docs/.private/